/* CSS Document */
h1{
	color:#000000;
	text-align:center;
	margin-bottom: 20px;
}

h2{
	color:#039CDA;
	text-align:left;	
}

h3{
	text-align:center;	
}

body{
	display:inline-block;
	background-color: #fff3dd;
	/*background: linear-gradient(#fff3dd,#e8d0a2);*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#homepage{
	padding-bottom: 20px;
}

#service p {
	text-align: center;
}

/* Navigation Bar */
.navbar-default{
	display:block;
	padding-left: 20px;
    padding-right: 20px;
	opacity: 0.9;
	background-color:#ada391;
	padding-bottom: 15px;
	
	font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
}

.nav.navbar-nav li a {
	color:#FFFFFF;
	margin-top: 10px;
}

.navbar-nav li a:hover {
	color:#555 !important;	
	background-color:#e7e7e7 !important;	
	/*margin-top: 10px;*/
}

.nav.navbar-nav .dropdown .dropdown-menu{
	background-color:#ada391;
}

.nav.navbar-nav .dropdown .dropdown-menu li a:hover{
	color:#000000;
}


.affix {
	top: 0;
	width: 100%;
	z-index: 9999 !important;
}

.affix + .container-fluid {
	padding-top: 70px;
}


/* Footer */
.footer{
	padding-top: 15px;
	color:#FFFFFF;
	
	background-color:#ada391;
	text-align:center;
	width:100%;
	height: 100px;
}


/* Reusable Classes */
.icons{
	width: 30px;
	height:	auto;
}

.opacity{
	opacity:0.5;
	transition:0.5s;
	transition-timing-function: ease;
}

.opacity:hover{
	opacity:1;
}

.photothumb{
    width: 95%;
    height:auto;
    border-radius:30px;
    margin:2.5%;
}

.circletosquare{
	transition:0.5s;
	transition-timing-function: ease;
	width:95%;
	height:auto;
    margin:2.5%;
	opacity: 0.8;
	box-shadow: 0px 0px 20px 5px #039CDA;
}

.circletosquare:hover{
	opacity:1;
	border-radius:10%;
	box-shadow: 0px 0px 0px 0px #039CDA;
}

.profilepic{
	width:80%;
	height:auto;
	margin:10%;
}

/*Hero*/
#hero{
	background: url(../images/flights-hero-image.jpg) no-repeat center center fixed; 
	background-size: 100% 100%;
	width:100%;
}

#hero p{
	font-size: 25px;
    line-height: 28px;
    font-weight: 300;
	color: White;

}

#hero h1{
	font-size: 50px;
    font-weight: 320;
	padding:50px 15px 15px 35px;
	color: white;
}
/*over lay image*/
.container {
  position: relative;
  width: 75%;
  padding-left:0;
  padding-right:0;
}

.image {
  display: block;
  width: 100%;
  height: 250px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #337ab7;
  cursor: pointer; 
}


.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* well */
.well{
	/*background:#b7cfe2;
	background: linear-gradient(#b7cfe2,#8ea3b2);*/
	background-color: #ecd1a7;
	opacity:0.7;
	border: 5px dashed white;
	border-radius:30px;
	margin: 35px 15px;
	
}

.well h1{
	font-weight: 400;
}


/* Jumbotron */
.jumbotron .img {
    margin-bottom: 0px;
	padding-top: 70px;
    opacity: 0.4;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
	position:absolute;
	top:0;left:0;
	z-index:1;
	background:#000 url('https://bootstrapcreative.com/wp-bc/wp-content/uploads/2017/03/learning-story.png') center center fixed; 
	background-size: cover;
	font-size: 12rem;
}
.jumbotron .img-greece {
    margin-bottom: 0px;
	padding-top: 70px;
    opacity: 1;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
	position:absolute;
	top:0;left:0;
	z-index:1;
	background:#000 url('../images/greece/GettyImages-188066509_super%20.jpg') center center fixed; 
	background-size: cover;   
}

.jumbotron .img-thailand {
    margin-bottom: 0px;
	padding-top: 70px;
    opacity: 1;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
	position:absolute;
	top:0;left:0;
	z-index:1;
	background:#000 url('../images/thailand/background.jpg') center center fixed; 
	background-size: cover;   
}

.jumbotron .img-egypt {
    margin-bottom: 0px;
	padding-top: 70px;
    opacity: 1;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
	position:absolute;
	top:0;left:0;
	z-index:1;
	background:#000 url('../images/egypt/egypt.jpg') no-repeat center center fixed; 
	background-size: cover;
}

.jumbotron .img-caribbean {
    margin-bottom: 0px;
	padding-top: 70px;
    opacity: 1;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
	position:absolute;
	top:0;left:0;
	z-index:1;
	background:#000 url('../images/caribbean/caribbean1.jpg') center center fixed; 
	background-size: cover;   
}

.jumbotron {
	position:relative;
	margin-bottom:0;
	padding:80px;
	height:100vh;
}

.jumbotron .container {
	z-index:2;
	position:relative;
	top:40%;
}

#about.jumbotron{
	height:100vh;
}
#about.jumbotron .container{
	top:0%;
}

.btn {
	background-color: transparent;
	color: white;
	font-weight: bold;
    border: 1.5px dashed white;
}

.btn.btn-default:hover{
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}	

.btn.btn-secondary{
	background-color: transparent;
	color: #080808;
	font-weight: bold;
    border: 1.5px dashed #080808;
}

.btn.btn-secondary:hover{
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}


/* Carousel class */
.carousel .item {
  height: 250px;
}

.carousel-inner .item img {
    position: absolute;
	background-size:cover;
    top: 0;
    left: 0;
    height: 100%;
	width:100%;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.col-sm-4 .topPosts{
	margin: 20px;
}


.post-info {
    background: rgba(0,0,0,0.2);
    padding: 10px;
    min-height: 400px;
    position: relative;
}

.post-info .inner h2 a, .post-info .inner h2{
	color: white;
	text-align: center;
}

.post-info .inner h2 a:hover{
	text-decoration:none;
	color: antiquewhite;
}


.post-type {
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
}

.paragraph-content{
	font-size: 2rem; 
	line-height:1.8;
}

.topPosts .inner {
    position: absolute;
    bottom: 10px;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    padding: 10px 10px 0 10px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

section#contact {
  background-color: #212529;
  background-image: url("../images/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  color:white;
  height:100vh;
  padding-top: 100px; }
  section#contact h1{
  color:white;}
  section#contact .section-heading {
    color: #fff; }
  section#contact .form-group {
    margin-bottom: 25px; }
    section#contact .form-group input,
    section#contact .form-group textarea {
      padding: 20px; }
    section#contact .form-group input.form-control {
      height: auto; }
    section#contact .form-group textarea.form-control {
      height: 248px; }
  section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none; }
  section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  section#contact :-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 18- */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 19+ */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

/* Media Query */

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}


/* Extra small devices */
@media (max-width: 425px) { 
	#myCarousel .carousel-inner .item {
		height:300px;
	}
	#myCarousel .carousel-inner .item .carousel-caption p {
		display: none;
	} 
	.jumbotron#about {
		height:auto;
		padding:80px 0;	
	}
}

@media screen and (min-width: 426px) and  (max-width: 767px){
	.jumbotron#about {
		height:100vh;
		padding:80px 0;	
	}
}

@media screen and (max-width: 767px) { 
	.navbar-toggle{
		margin-top: 15px;
	}
	.navbar-nav > li > a {
        line-height: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto !important;
        overflow: visible !important;
    }
	#section1.well, #section2.well, #section3.well{
		background: linear-gradient(#FFFFFF,#8ea3b2);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border:none;
		border-radius:10px;
		
	}
	section#contact{
		height:auto;}
		
	#hero{
		background: url(../images/flights-hero-image.jpg) no-repeat center center; 
		background-size: 100% 100%;
		width:100%;
	}	
	#about.jumbotron p{
		font-size:17px;
	}
	#about.jumbotron .container{
		top:0;
	}

	.jumbotron .img {
		background:#000 url('https://bootstrapcreative.com/wp-bc/wp-content/uploads/2017/03/learning-story.png') center center; 
		background-size: cover; 
	}
	.jumbotron .img-greece{
		background:#000 url('../images/greece/GettyImages-188066509_super%20.jpg') center center; 
		background-size: cover;  
	}
	.jumbotron .img-thailand {
		background:#000 url('../images/thailand/background.jpg') center center; 
		background-size: cover;   
	}
	
	.jumbotron .img-egypt {
		background:#000 url('../images/egypt/egypt.jpg') center center; 
		background-size: cover;
	}
	
	.jumbotron .img-caribbean {
		background:#000 url('../images/caribbean/caribbean1.jpg') center center; 
		background-size: cover;   
	}
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
	#myCarousel .carousel-inner .item {
		height:300px;
	} 
	
	#hero p{
			padding-bottom: 200px;
	padding-right: 150px;
	padding-left: 150px;
	}
	
	#section1.well, #section2.well, #section3.well{
		background: linear-gradient(#FFFFFF,#8ea3b2);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius:10px;
		border:none;
		opacity:0.7;
		transition:0.5s;
		transition-timing-function: ease;
	}
	#section1.well:hover, #section2.well:hover, #section3.well:hover{
		opacity:1;
	}
	section#contact{
	height:auto;}
	
}


/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
	#myCarousel .carousel-inner .item {
		height:400px;
	}
	section#contact{
	height:100vh;}
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	#myCarousel .carousel-inner .item {
		height:450px;
	}
	 #about.jumbotron .container{
		top:15%;
	}
}


/*@media (min-width: 992px){
	.container {
		width: auto;   
		background-color: white;
	}
}*/
